// mat-form-field {
//   width: 100%;
// }

// button {
//   float: right;
//   width: 200px;
// }


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(24, 28, 33);
  font-family: 'Poppins', sans-serif;
}

.container {
  position: relative;
  width: 380px;
  height: 485px;
  background-color: rgb(15, 17, 21);
  border-radius: 8px;
  overflow: hidden;
  top: 10%;
  left: 40%;
}

.container .borderLine:nth-child(1) {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent,
      transparent, #97FFF4, #97FFF4, #97FFF4);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.container .borderLine:nth-child(2) {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent,
      transparent, #97FFF4, #97FFF4, #97FFF4);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

.container .borderLine:nth-child(3) {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent,
      transparent, #C70039, #C70039, #C70039);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -1.5s;
}

.container .borderLine:nth-child(4) {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent,
      transparent, #C70039, #C70039, #C70039);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -4.5s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container form {
  position: absolute;
  inset: 4px;
  background-color: rgb(36, 42, 50);
  padding: 50px 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.container form h2 {
  color: #fff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
}

.container form .inputBox {
  position: relative;
  width: 300px;
  margin-top: 35px;
}

.container form .inputBox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  border: none;
  color: #23242a;
  font-size: 16px;
  letter-spacing: 1px;
  transition: all 0.5s;
  z-index: 10;
}

.container form .inputBox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  pointer-events: none;
  color: #8f8f8f;
  font-size: 16px;
  letter-spacing: 1px;
  transition: all 0.5s;
}


.container form .inputBox input:focus~span,
.container form .inputBox input:valid~span {
  color: #fff;
  font-size: 12px;
  transform: translateY(-34px);
}

.container form .inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
  overflow: hidden;
  transition: all 0.5s;
}

.container form .inputBox input:focus~i,
.container form .inputBox input:valid~i {
  height: 44px;
}

.container form .links {
  display: flex;
  justify-content: space-between;
}

.container form .links a {
  margin: 10px 0;
  font-size: 14px;
  color: #8f8f8f;
  text-decoration: none;
}

.container form .links a:hover,
.container form .links a:nth-child(2) {
  color: #fff;
}

.container form input[type="submit"] {
  border: none;
  outline: none;
  padding: 9px 25px;
  background-color: #fff;
  border-radius: 2px;
  font-size: 14px;
  width: 100px;
  margin-top: 37px;
  margin-left: 95px;
  cursor: pointer;
}

.container form input[type="submit"]:active {
  opacity: 0.8;
}